.sticky{
  font-size: 15px;
  color: #000000;
  /* border: 1px solid black; */
  position: fixed;
  /* height: 50px; */
  width: 97%;
  transition: all 0.4s ease;
  z-index: 1000;
  box-shadow: 0px 10px 5px #888888;
}

.right-hand-box {
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 240px;
}
.tab-pane .well {
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 240px;
}
.well.testimonal-well {
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 240px;
}
.testimonials {
  padding: 10px;
  border: 1px solid black;
  height: 200px;
  overflow: auto;
}
.testimonials {
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  transition: all linear 0.5s;
  display: block!important;
}
.testimonials.ng-hide-add {
  opacity: 1;
}
.testimonials.ng-hide-add.ng-hide-add-active {
  opacity: 0;
}
.testimonials.ng-hide-remove {
  opacity: 0;
}
.testimonials.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}
